@reference "tailwindcss";

@theme inline {
  --font-scale: 1.2;

  --text-h1: calc(1rem * pow(var(--font-scale), 5));
  --text-h2: calc(1rem * pow(var(--font-scale), 2));
  --text-h3: calc(1rem * pow(var(--font-scale), 1));
  --text-h4: calc(1rem * pow(var(--font-scale), 0));
  --text-h5: calc(1rem * pow(var(--font-scale), -1));
  --text-h6: calc(1rem * pow(var(--font-scale), -2));
}
