@theme {
  --padding-section: clamp(2rem, -1rem + 7.5vw, 5rem);
  --padding-hero: clamp(2rem, -3rem + 12.5vw, 7rem);

  --max-width-content-xs: 42rem;
  --max-width-content-sm: 60rem;
  --max-width-content-md: 70.5rem;
  --max-width-content-lg: 86.25rem;
  --max-width-content-xl: 100rem;
  --max-width-content-2xl: 117rem;

  --gap-content: clamp(0.5rem, -1rem + 3.75vw, 2rem);

  --margin-header: clamp(1rem, -0.5rem + 3.75vw, 2.5rem);
}
