---

---

<dialog
  x-data
  x-effect="$store.drawer.open ? $el.showModal() : $el.close()"
  @close="$store.drawer.open = false"
  @click="if ($event.target === $el) $store.drawer.open = false"
  aria-label="Navigation Menu"
>
  <button @click="$store.drawer.toggle()">Toggle</button>
</dialog>

<style>
  @import '@styles/landmarks/drawer.css';
</style>
