---
import { Icon } from 'astro-icon/components'
---

<header>
  <nav class="flex items-center justify-between py-4">
    <a href="/">Header</a>
    <ul class="hidden basis-3xs items-center justify-between gap-4 md:flex">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact" class="btn">Contact</a></li>
    </ul>
    <div class="flex items-center justify-between gap-2">
      <button
        x-data="$store.theme"
        @click="toggle()"
        :aria-label="label"
        class="btn-ghost size-10 p-0"
      >
        <Icon name="mdi:moon-waning-crescent" class="hidden -rotate-25 dark:block" />
        <Icon name="mdi:white-balance-sunny" class="dark:hidden" />
      </button>
      <button
        x-data="$store.drawer"
        @click="toggle()"
        aria-label="Open mobile navigation menu"
        class="btn-ghost size-10 p-0 md:hidden"><Icon name="mdi:menu" /></button
      >
    </div>
  </nav>
</header>

<style>
  @import '@styles/landmarks/header.css';
</style>
